@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@700&family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* 
  font-family: 'Nunito', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Poppins', sans-serif; 
  */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  --primary-color: #908d90;
  --secondary-color: #333333;
  --color-orange: #fa8601;
}
.color-orange {
  color: #fa8601;
}
section {
  max-width: 1350px;
  margin: auto;
}
/* heading section  */
.heading {
  background-image: url(../img/topbarbg.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  color: #fff;
  justify-content: center;
  align-items: center;
  padding-block: 7px;
  gap: 15px;
}
.heading__btn {
  color: #fff;
  background-color: #3ed07e;
  text-decoration: none;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  font-weight: 500;
  border: 1px solid white;
  display: block;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
.heading__btn:hover {
  transform: scaleX(1.12) scaleY(1.12);
}
@media (max-width: 1000px) {
  .heading {
    display: none;
  }
}
/* navbar section  */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
  height: 100px;
}
.navbar__menu__items,
.navbar__menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  padding-inline-end: 50px;
}
.navbar__menu__item,
.active {
  text-decoration: none;
  text-transform: capitalize;
  color: rgba(0, 0, 0, 0.6);
  font-size: 15px;
  font-weight: 700;
  position: relative;
  border-bottom: 4px #fa8601 solid;
  padding-block: 10px;
}
.navbar__menu__item::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  height: 40px;
  width: 100%;
  border-bottom: 9px #fff solid;
  transition: all 1s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 1s linear;
  -ms-transition: all 1s linear;
  -o-transition: all 1s linear;
}
.navbar__menu__item:hover::before {
  width: 30%;
}

.active {
  color: var(--color-orange);
}
.login__btn {
  padding-inline: 35px;
  padding-block: 10px;
  background-color: #fa8601;
  border-radius: 50px;
  color: #fff;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  text-decoration: none;
  text-transform: capitalize;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  position: relative;
  transition: all 0.4s linear;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -ms-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
}
.login__btn:hover {
  opacity: 0.7;
}
.navbar__bar {
  display: none;
}
@media (max-width: 1000px) {
  .navbar__logo {
    padding-inline-start: 100px;
  }
  .navbar__menu {
    width: 700px;
    padding: 0;
    margin: 0;
    height: 150px;
    display: flex;
    flex-direction: column;
  }
  .navbar__menu__items {
    display: flex;
    gap: 40px;
    margin-right: auto;
    padding-inline-start: 40px;
  }
  .login {
    padding-inline-start: 40px;
    margin-right: auto;
  }
}
@media (max-width: 980px) {
  .navbar {
    max-width: 70vw;
    display: flex;
    justify-content: space-between;
  }
  .navbar__logo {
    padding: 0;
    margin: 0;
  }
  .navbar__bar {
    display: block;
  }
  .navbar__bar__icon {
    font-size: 25px;
  }
  .navbar__menu {
    border-top: 4px #fa8601 solid;
    margin-top: 60px;
    margin-left: 120px;
    max-width: 70vw;
    position: relative;
    display: none !important;
}
.navbar__menu.active {
      border-top: 4px #fa8601 solid;
    display: block !important;
  }
  .navbar__menu,
  .navbar__menu__items {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    gap: 0;
  }
  .login {
    position: absolute;
    top: 280px;
    left: -15px;
  }
  .login__btn,
  .active,
  .navbar__menu__item {
    border: none;
    background-color: #fff;
    color: rgba(0, 0, 0, 0.6);
  }
  .navbar__menu__item:hover,
  .active:hover {
    opacity: 0.7;
  }
}
